tvstest/pkgs/Wadl/TVS-%3eFindByIdPEVCPreProcess5.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FindByIdPEVCPreProcess5" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FindByIdPEVCPreProcess5" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_company_id_def" />
      <string name="ResponseActionOutput_company_name_def" />
      <string name="ResponseActionOutput_write_by_def" />
      <string name="ResponseActionOutput_write_date_def" />
      <string name="ResponseActionOutput_deal_name_def" />
      <string name="ResponseActionOutput_deal_type_def" />
      <string name="ResponseActionOutput_deal_value_def" />
      <string name="ResponseActionOutput_equity_portion_def" />
      <string name="ResponseActionOutput_primary_shares_def" />
      <string name="ResponseActionOutput_secondary_shares_def" />
      <string name="ResponseActionOutput_debt_portion_def" />
      <string name="ResponseActionOutput_create_id_def" />
      <string name="ResponseActionOutput_interest_rate_def" />
      <string name="ResponseActionOutput_maturity_def" />
      <string name="ResponseActionOutput_company_pre_money_valuation_def" />
      <string name="ResponseActionOutput_company_post_money_valuation_def" />
      <string name="ResponseActionOutput_percentage_ownership_def" />
      <string name="ResponseActionOutput_level_of_approval_def" />
      <string name="ResponseActionOutput_old_status_def" />
      <string name="ResponseActionOutput_estimate_dd_fee_def" />
      <string name="ResponseActionOutput_dd_legal_fee_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_pdi_created_by_def" />
      <string name="ResponseActionOutput_pdi_created_date_def" />
      <string name="ResponseActionOutput_deal_main_procedure_def" />
      <string name="ResponseActionOutput_group_rejected_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="company_id" type="string" />
        <property name="company_name" type="string" />
        <property name="write_by" type="string" />
        <property name="write_date" type="string" />
        <property name="deal_name" type="string" />
        <property name="deal_type" type="string" />
        <property name="deal_value" type="string" />
        <property name="equity_portion" type="string" />
        <property name="primary_shares" type="string" />
        <property name="secondary_shares" type="string" />
        <property name="debt_portion" type="string" />
        <property name="create_id" type="string" />
        <property name="interest_rate" type="string" />
        <property name="maturity" type="string" />
        <property name="company_pre_money_valuation" type="string" />
        <property name="company_post_money_valuation" type="string" />
        <property name="percentage_ownership" type="string" />
        <property name="level_of_approval" type="string" />
        <property name="old_status" type="string" />
        <property name="estimate_dd_fee" type="string" />
        <property name="dd_legal_fee" type="string" />
        <property name="status" type="string" />
        <property name="pdi_created_by" type="string" />
        <property name="pdi_created_date" type="string" />
        <property name="deal_main_procedure" type="string" />
        <property name="group_rejected" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="openKey" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="closeKey" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="idPEVC" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="DEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="TEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="UAT1" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="UAT2" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>