tvstest/pkgs/Wadl/TVS-%3eFindAllItemAndUnit-V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FindAllItemAndUnit-V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FindAllItemAndUnit-V1" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_listItem_def_items_def_id_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_company_type_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_item_code_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_item_name_vi_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_item_name_en_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_data_type_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_note_def" />
      <object name="ResponseActionOutput_listItem_def_items_def">
        <property name="id" type="string" />
        <property name="company_type" type="string" />
        <property name="item_code" type="string" />
        <property name="item_name_vi" type="string" />
        <property name="item_name_en" type="string" />
        <property name="data_type" type="string" />
        <property name="note" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listItem_def_items_def" name="ResponseActionOutput_listItem_def" />
      <string name="ResponseActionOutput_itemLastest_def" />
      <string name="ResponseActionOutput_listUnit_def_items_def_id_def" />
      <string name="ResponseActionOutput_listUnit_def_items_def_unit_code_def" />
      <string name="ResponseActionOutput_listUnit_def_items_def_unit_name_def" />
      <object name="ResponseActionOutput_listUnit_def_items_def">
        <property name="id" type="string" />
        <property name="unit_code" type="string" />
        <property name="unit_name" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listUnit_def_items_def" name="ResponseActionOutput_listUnit_def" />
      <string name="ResponseActionOutput_unitLastest_def" />
      <object name="ResponseActionOutput">
        <property name="listItem" typeRef="ResponseActionOutput_listItem_def" />
        <property name="itemLastest" type="string" />
        <property name="listUnit" typeRef="ResponseActionOutput_listUnit_def" />
        <property name="unitLastest" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="openKey" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="closeKey" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="evn1" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="evn2" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="evn3" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="evn4" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>