tvstest/pkgs/Wadl/TVS-%3eFindAlllInvestmentPortfolio.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FindAlllInvestmentPortfolio" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FindAlllInvestmentPortfolio" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_listItem_def_items_def_company_name_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_divested_equity_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_divested_debt_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_divested_percentage_ownership_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_equity_investment_cost_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_debt_investment_cost_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_total_percentage_ownership_investment_cost_def" />
      <object name="ResponseActionOutput_listItem_def_items_def">
        <property name="company_name" type="string" />
        <property name="total_divested_equity" type="integer" />
        <property name="total_divested_debt" type="integer" />
        <property name="total_divested_percentage_ownership" type="integer" />
        <property name="total_equity_investment_cost" type="integer" />
        <property name="total_debt_investment_cost" type="integer" />
        <property name="total_percentage_ownership_investment_cost" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_listItem_def_items_def" name="ResponseActionOutput_listItem_def" />
      <object name="ResponseActionOutput">
        <property name="listItem" typeRef="ResponseActionOutput_listItem_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="keyClose" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>