tvstest/pkgs/Wadl/TVS-%3eGetByIdCompanyInformation-V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetByIdCompanyInformation-V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetByIdCompanyInformation-V1" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_tax_code_def" />
      <string name="ResponseActionOutput_product_or_service_offered_def" />
      <string name="ResponseActionOutput_entity_legal_form_def" />
      <string name="ResponseActionOutput_geography_def" />
      <string name="ResponseActionOutput_company_name_def" />
      <string name="ResponseActionOutput_company_type_def" />
      <string name="ResponseActionOutput_created_by_def" />
      <string name="ResponseActionOutput_industry_def" />
      <string name="ResponseActionOutput_re_pending_def" />
      <string name="ResponseActionOutput_note_def" />
      <string name="ResponseActionOutput_id_company_def" />
      <string name="ResponseActionOutput_created_date_def" />
      <string name="ResponseActionOutput_write_date_def" />
      <string name="ResponseActionOutput_write_by_def" />
      <string name="ResponseActionOutput_write_by_name_def" />
      <string name="ResponseActionOutput_created_by_name_def" />
      <string name="ResponseActionOutput_history_note_def" />
      <string name="ResponseActionOutput_financial_note_def" />
      <string name="ResponseActionOutput_department_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_id_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listAttach_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_by" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listAttach_def_items_def" name="ResponseActionOutput_listAttach_def" />
      <string name="ResponseActionOutput_listContact_def_items_def_name_def" />
      <string name="ResponseActionOutput_listContact_def_items_def_email_def" />
      <string name="ResponseActionOutput_listContact_def_items_def_phone_number_def" />
      <string name="ResponseActionOutput_listContact_def_items_def_id_def" />
      <object name="ResponseActionOutput_listContact_def_items_def">
        <property name="name" type="string" />
        <property name="email" type="string" />
        <property name="phone_number" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listContact_def_items_def" name="ResponseActionOutput_listContact_def" />
      <string name="ResponseActionOutput_listFounder_def_items_def_name_def" />
      <string name="ResponseActionOutput_listFounder_def_items_def_ownership_def" />
      <string name="ResponseActionOutput_listFounder_def_items_def_id_def" />
      <object name="ResponseActionOutput_listFounder_def_items_def">
        <property name="name" type="string" />
        <property name="ownership" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listFounder_def_items_def" name="ResponseActionOutput_listFounder_def" />
      <string name="ResponseActionOutput_listShareholder_def_items_def_name_def" />
      <string name="ResponseActionOutput_listShareholder_def_items_def_ownership_def" />
      <string name="ResponseActionOutput_listShareholder_def_items_def_id_def" />
      <object name="ResponseActionOutput_listShareholder_def_items_def">
        <property name="name" type="string" />
        <property name="ownership" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listShareholder_def_items_def" name="ResponseActionOutput_listShareholder_def" />
      <string name="ResponseActionOutput_listKeyMilestones_def_items_def_date_def" />
      <string name="ResponseActionOutput_listKeyMilestones_def_items_def_event_def" />
      <string name="ResponseActionOutput_listKeyMilestones_def_items_def_note_def" />
      <string name="ResponseActionOutput_listKeyMilestones_def_items_def_id_def" />
      <object name="ResponseActionOutput_listKeyMilestones_def_items_def">
        <property name="date" type="string" />
        <property name="event" type="string" />
        <property name="note" type="string" />
        <property name="id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listKeyMilestones_def_items_def" name="ResponseActionOutput_listKeyMilestones_def" />
      <string name="ResponseActionOutput_financialInfo_def_items_def_col_def" />
      <object name="ResponseActionOutput_financialInfo_def_items_def">
        <property name="col" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_financialInfo_def_items_def" name="ResponseActionOutput_financialInfo_def" />
      <string name="ResponseActionOutput_fundraisingHistory_def_items_def_col_def" />
      <object name="ResponseActionOutput_fundraisingHistory_def_items_def">
        <property name="col" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_fundraisingHistory_def_items_def" name="ResponseActionOutput_fundraisingHistory_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="status" type="string" />
        <property name="tax_code" type="string" />
        <property name="product_or_service_offered" type="string" />
        <property name="entity_legal_form" type="string" />
        <property name="geography" type="string" />
        <property name="company_name" type="string" />
        <property name="company_type" type="string" />
        <property name="created_by" type="string" />
        <property name="industry" type="string" />
        <property name="re_pending" type="string" />
        <property name="note" type="string" />
        <property name="id_company" type="string" />
        <property name="created_date" type="string" />
        <property name="write_date" type="string" />
        <property name="write_by" type="string" />
        <property name="write_by_name" type="string" />
        <property name="created_by_name" type="string" />
        <property name="history_note" type="string" />
        <property name="financial_note" type="string" />
        <property name="department" type="string" />
        <property name="listAttach" typeRef="ResponseActionOutput_listAttach_def" />
        <property name="listContact" typeRef="ResponseActionOutput_listContact_def" />
        <property name="listFounder" typeRef="ResponseActionOutput_listFounder_def" />
        <property name="listShareholder" typeRef="ResponseActionOutput_listShareholder_def" />
        <property name="listKeyMilestones" typeRef="ResponseActionOutput_listKeyMilestones_def" />
        <property name="financialInfo" typeRef="ResponseActionOutput_financialInfo_def" />
        <property name="fundraisingHistory" typeRef="ResponseActionOutput_fundraisingHistory_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="open" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="close" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="idCompanyInformation" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="envDEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="envTEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="envUAT1" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="envUAT2" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>