tvstest/pkgs/Wadl/TVS-%3eDetailListUnTrading.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;DetailListUnTrading" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;DetailListUnTrading" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <integer name="ResponseActionOutput_listUntrading_def_items_def_stt_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_id_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_group_id_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_market_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_ticker_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_company_name_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_effective_date_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_reason_def" />
      <integer name="ResponseActionOutput_listUntrading_def_items_def_order_number_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_listUntrading_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listUntrading_def_items_def">
        <property name="stt" type="integer" />
        <property name="id" type="string" />
        <property name="group_id" type="string" />
        <property name="market" type="string" />
        <property name="ticker" type="string" />
        <property name="company_name" type="string" />
        <property name="effective_date" type="string" />
        <property name="reason" type="string" />
        <property name="order_number" type="integer" />
        <property name="created_by" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listUntrading_def_items_def" name="ResponseActionOutput_listUntrading_def" />
      <object name="ResponseActionOutput">
        <property name="listUntrading" typeRef="ResponseActionOutput_listUntrading_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="openKey" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="closeKey" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="group_id" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="DEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="TEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="UAT" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="UAT2" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>