tvstest/pkgs/Wadl/TVS-%3eGetNoteFileLog-Process5-V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetNoteFileLog-Process5-V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetNoteFileLog-Process5-V1" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_note_def_items_def_screen_def" />
      <string name="ResponseActionOutput_note_def_items_def_location_def" />
      <string name="ResponseActionOutput_note_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_note_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_note_def_items_def_write_date_def" />
      <string name="ResponseActionOutput_note_def_items_def_write_by_def" />
      <string name="ResponseActionOutput_note_def_items_def_id_deal_note_def" />
      <string name="ResponseActionOutput_note_def_items_def_note_def" />
      <string name="ResponseActionOutput_note_def_items_def_isLastest_def" />
      <string name="ResponseActionOutput_note_def_items_def_name_def" />
      <object name="ResponseActionOutput_note_def_items_def">
        <property name="screen" type="string" />
        <property name="location" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
        <property name="write_date" type="string" />
        <property name="write_by" type="string" />
        <property name="id_deal_note" type="string" />
        <property name="note" type="string" />
        <property name="isLastest" type="string" />
        <property name="name" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_note_def_items_def" name="ResponseActionOutput_note_def" />
      <string name="ResponseActionOutput_file_def_items_def_id_def" />
      <string name="ResponseActionOutput_file_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_file_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_file_def_items_def_name_employee_def" />
      <string name="ResponseActionOutput_file_def_items_def_stage_def" />
      <boolean name="ResponseActionOutput_file_def_items_def_is_approved_def" />
      <object name="ResponseActionOutput_file_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_date" type="string" />
        <property name="name_employee" type="string" />
        <property name="stage" type="string" />
        <property name="is_approved" type="boolean" />
      </object>
      <array typeRef="ResponseActionOutput_file_def_items_def" name="ResponseActionOutput_file_def" />
      <string name="ResponseActionOutput_log_def_items_def_id_def" />
      <string name="ResponseActionOutput_log_def_items_def_note_def" />
      <string name="ResponseActionOutput_log_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_log_def_items_def_name_employee_def" />
      <string name="ResponseActionOutput_log_def_items_def_stage_def" />
      <string name="ResponseActionOutput_log_def_items_def_status_def" />
      <string name="ResponseActionOutput_log_def_items_def_action_def" />
      <string name="ResponseActionOutput_log_def_items_def_status_group_def" />
      <boolean name="ResponseActionOutput_log_def_items_def_is_not_action_def" />
      <string name="ResponseActionOutput_log_def_items_def_employee_id_def" />
      <object name="ResponseActionOutput_log_def_items_def">
        <property name="id" type="string" />
        <property name="note" type="string" />
        <property name="created_date" type="string" />
        <property name="name_employee" type="string" />
        <property name="stage" type="string" />
        <property name="status" type="string" />
        <property name="action" type="string" />
        <property name="status_group" type="string" />
        <property name="is_not_action" type="boolean" />
        <property name="employee_id" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_log_def_items_def" name="ResponseActionOutput_log_def" />
      <string name="ResponseActionOutput_group_def_items_def_employee_id_def" />
      <string name="ResponseActionOutput_group_def_items_def_name_user_def" />
      <string name="ResponseActionOutput_group_def_items_def_group_team_def" />
      <object name="ResponseActionOutput_group_def_items_def">
        <property name="employee_id" type="string" />
        <property name="name_user" type="string" />
        <property name="group_team" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_group_def_items_def" name="ResponseActionOutput_group_def" />
      <string name="ResponseActionOutput_member_def_items_def_pevc_deal_id_def" />
      <string name="ResponseActionOutput_member_def_items_def_id_def" />
      <string name="ResponseActionOutput_member_def_items_def_type_def" />
      <string name="ResponseActionOutput_member_def_items_def_name_def" />
      <string name="ResponseActionOutput_member_def_items_def_email_def" />
      <string name="ResponseActionOutput_member_def_items_def_internal_email_def" />
      <object name="ResponseActionOutput_member_def_items_def">
        <property name="pevc_deal_id" type="string" />
        <property name="id" type="string" />
        <property name="type" type="string" />
        <property name="name" type="string" />
        <property name="email" type="string" />
        <property name="internal_email" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_member_def_items_def" name="ResponseActionOutput_member_def" />
      <object name="ResponseActionOutput">
        <property name="note" typeRef="ResponseActionOutput_note_def" />
        <property name="file" typeRef="ResponseActionOutput_file_def" />
        <property name="log" typeRef="ResponseActionOutput_log_def" />
        <property name="group" typeRef="ResponseActionOutput_group_def" />
        <property name="member" typeRef="ResponseActionOutput_member_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="KeyName" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="KeyClose" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="deal_id" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>