tvstest/pkgs/Wadl/TVS-%3eDeal_GetAlll.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;Deal_GetAlll" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;Deal_GetAlll" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <string name="ManualTriggerInput_text_10_def" />
      <string name="ManualTriggerInput_text_11_def" />
      <string name="ManualTriggerInput_text_12_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <object name="ManualTriggerInput">
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="number" type="number" />
        <property name="number_1" type="number" />
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="text_9" type="string" />
        <property name="text_10" type="string" />
        <property name="text_11" type="string" />
        <property name="text_12" type="string" />
        <property name="boolean" type="boolean" />
      </object>
      <integer name="ResponseActionOutput_listItem_def_items_def_stt_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_id_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_service_code_id_def" />
      <boolean name="ResponseActionOutput_listItem_def_items_def_active_def" />
      <boolean name="ResponseActionOutput_listItem_def_items_def_is_ceo_approve_def" />
      <boolean name="ResponseActionOutput_listItem_def_items_def_is_revise_def" />
      <boolean name="ResponseActionOutput_listItem_def_items_def_is_request_edit_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_write_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_write_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_name_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_name_created_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_name_write_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_status_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_stage_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_owner_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_type_1_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_type_2_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_main_procedure_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_engagement_risk_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_close_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_company_id_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_divestment_motive_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_share_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_ugency_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_importance_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_company_name_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_actual_closing_time_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_priority_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_conclusions_on_client_acceptance_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_approval_on_client_acceptance_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_conclusions_on_engagement_acceptance_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_approval_on_engagement_acceptance_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_percentage_of_stock_for_sale_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_value_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_transaction_fee_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_percent_success_fee_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_retainer_fee_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_contract_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_probability_of_success_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_status_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_expected_closing_time_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_mentor_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_state_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_observer_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_note_file_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_note_deal_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_deal_type_3_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_stage_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_name_comment_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_name_deal_owner_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_comment_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_comment_mandate_def" />
      <object name="ResponseActionOutput_listItem_def_items_def">
        <property name="stt" type="integer" />
        <property name="id" type="string" />
        <property name="service_code_id" type="string" />
        <property name="active" type="boolean" />
        <property name="is_ceo_approve" type="boolean" />
        <property name="is_revise" type="boolean" />
        <property name="is_request_edit" type="boolean" />
        <property name="write_date" type="string" />
        <property name="write_by" type="string" />
        <property name="deal_name" type="string" />
        <property name="name_created_by" type="string" />
        <property name="name_write_by" type="string" />
        <property name="deal_status" type="string" />
        <property name="deal_stage" type="string" />
        <property name="deal_owner" type="string" />
        <property name="deal_type_1" type="string" />
        <property name="deal_type_2" type="string" />
        <property name="deal_main_procedure" type="string" />
        <property name="engagement_risk" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
        <property name="close_date" type="string" />
        <property name="company_id" type="string" />
        <property name="divestment_motive" type="string" />
        <property name="share" type="string" />
        <property name="ugency" type="string" />
        <property name="importance" type="string" />
        <property name="company_name" type="string" />
        <property name="actual_closing_time" type="string" />
        <property name="priority" type="integer" />
        <property name="conclusions_on_client_acceptance" type="string" />
        <property name="approval_on_client_acceptance" type="string" />
        <property name="conclusions_on_engagement_acceptance" type="string" />
        <property name="approval_on_engagement_acceptance" type="string" />
        <property name="percentage_of_stock_for_sale" type="string" />
        <property name="deal_value" type="string" />
        <property name="transaction_fee" type="string" />
        <property name="percent_success_fee" type="string" />
        <property name="retainer_fee" type="string" />
        <property name="contract_date" type="string" />
        <property name="probability_of_success" type="string" />
        <property name="status" type="string" />
        <property name="expected_closing_time" type="string" />
        <property name="mentor" type="string" />
        <property name="state" type="string" />
        <property name="observer" type="string" />
        <property name="note_file" type="string" />
        <property name="note_deal" type="string" />
        <property name="deal_type_3" type="string" />
        <property name="stage" type="string" />
        <property name="name_comment" type="string" />
        <property name="name_deal_owner" type="string" />
        <property name="created_comment_date" type="string" />
        <property name="comment_mandate" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listItem_def_items_def" name="ResponseActionOutput_listItem_def" />
      <integer name="ResponseActionOutput_totalItem_def" />
      <integer name="ResponseActionOutput_pageCount_def" />
      <object name="ResponseActionOutput">
        <property name="listItem" typeRef="ResponseActionOutput_listItem_def" />
        <property name="totalItem" type="integer" />
        <property name="pageCount" type="integer" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Key_Name" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Close_Key" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="pageSize" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="pageIndex" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="dateFrom" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="dateTo" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="status" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string" required="true">
              <doc title="sortColumn" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="sortDirection" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string" required="true">
              <doc title="dealName" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string" required="true">
              <doc title="by" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string" required="true">
              <doc title="user" />
            </param>
            <param style="plain" name="text_10" path="/text_10" type="xs:string" required="true">
              <doc title="detailTab" />
            </param>
            <param style="plain" name="text_11" path="/text_11" type="xs:string" required="true">
              <doc title="statusDetailTab" />
            </param>
            <param style="plain" name="text_12" path="/text_12" type="xs:string" required="true">
              <doc title="statusString" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="is_request_edit" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>