tvstest/pkgs/Wadl/TVS-%3eFilterFindAllRecords_NoBoth-V3.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FilterFindAllRecords_NoBoth-V3" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FilterFindAllRecords_NoBoth-V3" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <boolean name="ManualTriggerInput_boolean_8_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <boolean name="ManualTriggerInput_boolean_5_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="number" type="number" />
        <property name="number_1" type="number" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
        <property name="text_6" type="string" />
        <property name="text_7" type="string" />
        <property name="boolean_8" type="boolean" />
        <property name="text_8" type="string" />
        <property name="boolean_5" type="boolean" />
        <property name="text_9" type="string" />
      </object>
      <string name="ResponseActionOutput_listItem_def_items_def_id_def" />
      <integer name="ResponseActionOutput_listItem_def_items_def_STT_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_division_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_meeting_nature_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_hash_tag_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_meeting_type_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_meeting_title_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_date_of_meeting_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_by_id_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_write_by_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_summary_on_the_meeting_notes_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_status_def" />
      <boolean name="ResponseActionOutput_listItem_def_items_def_projected_financial_check_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_listItem_def_items_def_write_date_def" />
      <object name="ResponseActionOutput_listItem_def_items_def">
        <property name="id" type="string" />
        <property name="STT" type="integer" />
        <property name="division" type="string" />
        <property name="meeting_nature" type="string" />
        <property name="hash_tag" type="string" />
        <property name="meeting_type" type="string" />
        <property name="meeting_title" type="string" />
        <property name="date_of_meeting" type="string" />
        <property name="created_by" type="string" />
        <property name="created_by_id" type="string" />
        <property name="write_by" type="string" />
        <property name="summary_on_the_meeting_notes" type="string" />
        <property name="status" type="string" />
        <property name="projected_financial_check" type="boolean" />
        <property name="created_date" type="string" />
        <property name="write_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listItem_def_items_def" name="ResponseActionOutput_listItem_def" />
      <integer name="ResponseActionOutput_totalItem_def" />
      <integer name="ResponseActionOutput_pageCount_def" />
      <object name="ResponseActionOutput">
        <property name="listItem" typeRef="ResponseActionOutput_listItem_def" />
        <property name="totalItem" type="integer" />
        <property name="pageCount" type="integer" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="keyClose" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="dateFrom" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="dateTo" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="searchAll" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="pageSize" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="pageIndex" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="DEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="TEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="UAT" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="UAT2" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="user_id" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string" required="true">
              <doc title="UserEmail" />
            </param>
            <param style="plain" name="boolean_8" path="/boolean_8" type="xs:boolean" required="true">
              <doc title="IsMyMeeting" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string" required="true">
              <doc title="Division" />
            </param>
            <param style="plain" name="boolean_5" path="/boolean_5" type="xs:boolean" required="true">
              <doc title="IsHeadDivision" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string" required="true">
              <doc title="DivisionByUser" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>