tvstest/pkgs/Wadl/TVS-%3eGetFileByIDDeal.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetFileByIDDeal" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetFileByIDDeal" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_deal_information_id_def" />
      <string name="ResponseActionOutput_items_def_created_date_def" />
      <string name="ResponseActionOutput_items_def_write_date_def" />
      <string name="ResponseActionOutput_items_def_file_name_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <string name="ResponseActionOutput_items_def_created_by_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id" type="string" />
        <property name="deal_information_id" type="string" />
        <property name="created_date" type="string" />
        <property name="write_date" type="string" />
        <property name="file_name" type="string" />
        <property name="title" type="string" />
        <property name="created_by" type="string" />
        <property name="name" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="KeyOpen" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="KeyClose" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="idDeal" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>