tvstest/pkgs/Wadl/TVS-%3eFindByIdProposalONSProcess4.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FindByIdProposalONSProcess4" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FindByIdProposalONSProcess4" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_proposal_def_items_def_id_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_proposal_name_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_client_id_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_type_of_proposal_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_company_name_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_status_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_old_status_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_status_view_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_max_margin_limit_amount_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_note_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_policy_list_check_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_margin_ratio_check_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_margined_amt_per_client_check_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_margined_amt_all_client_check_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_write_by_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_write_date_def" />
      <string name="ResponseActionOutput_proposal_def_items_def_type_checking_def" />
      <object name="ResponseActionOutput_proposal_def_items_def">
        <property name="id" type="string" />
        <property name="proposal_name" type="string" />
        <property name="client_id" type="string" />
        <property name="type_of_proposal" type="string" />
        <property name="company_name" type="string" />
        <property name="status" type="string" />
        <property name="old_status" type="string" />
        <property name="status_view" type="string" />
        <property name="max_margin_limit_amount" type="string" />
        <property name="note" type="string" />
        <property name="policy_list_check" type="string" />
        <property name="margin_ratio_check" type="string" />
        <property name="margined_amt_per_client_check" type="string" />
        <property name="margined_amt_all_client_check" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
        <property name="write_by" type="string" />
        <property name="write_date" type="string" />
        <property name="type_checking" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_proposal_def_items_def" name="ResponseActionOutput_proposal_def" />
      <string name="ResponseActionOutput_attachment_def_items_def_id_def" />
      <string name="ResponseActionOutput_attachment_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_attachment_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_attachment_def_items_def_created_by_def" />
      <object name="ResponseActionOutput_attachment_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_attachment_def_items_def" name="ResponseActionOutput_attachment_def" />
      <string name="ResponseActionOutput_attachment2_def_items_def_id_def" />
      <string name="ResponseActionOutput_attachment2_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_attachment2_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_attachment2_def_items_def_created_by_def" />
      <object name="ResponseActionOutput_attachment2_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_attachment2_def_items_def" name="ResponseActionOutput_attachment2_def" />
      <string name="ResponseActionOutput_attachmentEmail_def_items_def_id_def" />
      <string name="ResponseActionOutput_attachmentEmail_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_attachmentEmail_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_attachmentEmail_def_items_def_created_by_def" />
      <object name="ResponseActionOutput_attachmentEmail_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_attachmentEmail_def_items_def" name="ResponseActionOutput_attachmentEmail_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_pmi_id_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_b_id_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_subject_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_send_to_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_header_content_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_bottom_content_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_after_margin_ratio_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_after_quantity_per_client_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_after_quantity_all_client_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_after_loan_per_client_def" />
      <string name="ResponseActionOutput_updateChange_def_items_def_after_loan_all_client_def" />
      <object name="ResponseActionOutput_updateChange_def_items_def">
        <property name="pmi_id" type="string" />
        <property name="b_id" type="string" />
        <property name="subject" type="string" />
        <property name="send_to" type="string" />
        <property name="header_content" type="string" />
        <property name="bottom_content" type="string" />
        <property name="after_margin_ratio" type="string" />
        <property name="after_quantity_per_client" type="string" />
        <property name="after_quantity_all_client" type="string" />
        <property name="after_loan_per_client" type="string" />
        <property name="after_loan_all_client" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_updateChange_def_items_def" name="ResponseActionOutput_updateChange_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_id_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margin_ratio_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_per_client_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_all_client_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margin_limit_amount_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_interest_rate_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_max_margin_ratio_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_max_margined_amt_per_client_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_max_margined_amt_all_client_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_market_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_max_margined_qty_per_client_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_max_margined_qty_all_client_cp_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_stock_liquidity_score_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_research_opinion_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margin_ratio_re_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_per_client_re_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_all_client_re_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_risk_management_opinion_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margin_limit_amount_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_interest_rate_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_comment_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_comment_re_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margin_ratio_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_per_client_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_loan_amt_all_client_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_qty_one_client_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_proposed_margined_qty_all_client_rm_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_ticker_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_brokerage_def_items_def_created_by_def" />
      <object name="ResponseActionOutput_brokerage_def_items_def">
        <property name="id" type="string" />
        <property name="proposed_margin_ratio" type="string" />
        <property name="proposed_margined_loan_amt_per_client" type="string" />
        <property name="proposed_margined_loan_amt_all_client" type="string" />
        <property name="proposed_margin_limit_amount" type="string" />
        <property name="proposed_interest_rate" type="string" />
        <property name="max_margin_ratio_cp" type="string" />
        <property name="max_margined_amt_per_client_cp" type="string" />
        <property name="max_margined_amt_all_client_cp" type="string" />
        <property name="market_cp" type="string" />
        <property name="max_margined_qty_per_client_cp" type="string" />
        <property name="max_margined_qty_all_client_cp" type="string" />
        <property name="stock_liquidity_score" type="string" />
        <property name="research_opinion" type="string" />
        <property name="proposed_margin_ratio_re" type="string" />
        <property name="proposed_margined_loan_amt_per_client_re" type="string" />
        <property name="proposed_margined_loan_amt_all_client_re" type="string" />
        <property name="risk_management_opinion" type="string" />
        <property name="proposed_margin_limit_amount_rm" type="string" />
        <property name="proposed_interest_rate_rm" type="string" />
        <property name="comment_rm" type="string" />
        <property name="comment_re" type="string" />
        <property name="proposed_margin_ratio_rm" type="string" />
        <property name="proposed_margined_loan_amt_per_client_rm" type="string" />
        <property name="proposed_margined_loan_amt_all_client_rm" type="string" />
        <property name="proposed_margined_qty_one_client_rm" type="string" />
        <property name="proposed_margined_qty_all_client_rm" type="string" />
        <property name="ticker" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_brokerage_def_items_def" name="ResponseActionOutput_brokerage_def" />
      <string name="ResponseActionOutput_listIC_def_items_def_employee_id_def" />
      <string name="ResponseActionOutput_listIC_def_items_def_name_user_def" />
      <string name="ResponseActionOutput_listIC_def_items_def_action_def" />
      <string name="ResponseActionOutput_listIC_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listIC_def_items_def">
        <property name="employee_id" type="string" />
        <property name="name_user" type="string" />
        <property name="action" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listIC_def_items_def" name="ResponseActionOutput_listIC_def" />
      <string name="ResponseActionOutput_listIC_SC_def_items_def_employee_id_def" />
      <string name="ResponseActionOutput_listIC_SC_def_items_def_name_user_def" />
      <string name="ResponseActionOutput_listIC_SC_def_items_def_action_def" />
      <string name="ResponseActionOutput_listIC_SC_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listIC_SC_def_items_def">
        <property name="employee_id" type="string" />
        <property name="name_user" type="string" />
        <property name="action" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listIC_SC_def_items_def" name="ResponseActionOutput_listIC_SC_def" />
      <string name="ResponseActionOutput_listIC_SC_done_def_items_def_employee_id_def" />
      <string name="ResponseActionOutput_listIC_SC_done_def_items_def_name_user_def" />
      <string name="ResponseActionOutput_listIC_SC_done_def_items_def_action_def" />
      <string name="ResponseActionOutput_listIC_SC_done_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listIC_SC_done_def_items_def">
        <property name="employee_id" type="string" />
        <property name="name_user" type="string" />
        <property name="action" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listIC_SC_done_def_items_def" name="ResponseActionOutput_listIC_SC_done_def" />
      <string name="ResponseActionOutput_listIC_done_def_items_def_employee_id_def" />
      <string name="ResponseActionOutput_listIC_done_def_items_def_name_user_def" />
      <string name="ResponseActionOutput_listIC_done_def_items_def_action_def" />
      <string name="ResponseActionOutput_listIC_done_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_listIC_done_def_items_def">
        <property name="employee_id" type="string" />
        <property name="name_user" type="string" />
        <property name="action" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listIC_done_def_items_def" name="ResponseActionOutput_listIC_done_def" />
      <object name="ResponseActionOutput">
        <property name="proposal" typeRef="ResponseActionOutput_proposal_def" />
        <property name="attachment" typeRef="ResponseActionOutput_attachment_def" />
        <property name="attachment2" typeRef="ResponseActionOutput_attachment2_def" />
        <property name="attachmentEmail" typeRef="ResponseActionOutput_attachmentEmail_def" />
        <property name="updateChange" typeRef="ResponseActionOutput_updateChange_def" />
        <property name="brokerage" typeRef="ResponseActionOutput_brokerage_def" />
        <property name="listIC" typeRef="ResponseActionOutput_listIC_def" />
        <property name="listIC_SC" typeRef="ResponseActionOutput_listIC_SC_def" />
        <property name="listIC_SC_done" typeRef="ResponseActionOutput_listIC_SC_done_def" />
        <property name="listIC_done" typeRef="ResponseActionOutput_listIC_done_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="keyClose" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="idProposal" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="DEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="TEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="UAT1" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="UAT2" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>