tvstest/pkgs/Wadl/TVS-%3eFindByIdInternalRecord.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;FindByIdInternalRecord" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;FindByIdInternalRecord" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_hasTags_def_items_def_id_def" />
      <string name="ResponseActionOutput_hasTags_def_items_def_value_def" />
      <string name="ResponseActionOutput_hasTags_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_hasTags_def_items_def">
        <property name="id" type="string" />
        <property name="value" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_hasTags_def_items_def" name="ResponseActionOutput_hasTags_def" />
      <string name="ResponseActionOutput_parties_def_items_def_id_def" />
      <string name="ResponseActionOutput_parties_def_items_def_value_def" />
      <string name="ResponseActionOutput_parties_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_parties_def_items_def_member_def" />
      <string name="ResponseActionOutput_parties_def_items_def_party_name_def" />
      <object name="ResponseActionOutput_parties_def_items_def">
        <property name="id" type="string" />
        <property name="value" type="string" />
        <property name="created_date" type="string" />
        <property name="member" type="string" />
        <property name="party_name" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_parties_def_items_def" name="ResponseActionOutput_parties_def" />
      <string name="ResponseActionOutput_shareTo_def_items_def_id_def" />
      <string name="ResponseActionOutput_shareTo_def_items_def_value_def" />
      <string name="ResponseActionOutput_shareTo_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_shareTo_def_items_def">
        <property name="id" type="string" />
        <property name="value" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_shareTo_def_items_def" name="ResponseActionOutput_shareTo_def" />
      <string name="ResponseActionOutput_attachments_def_items_def_id_def" />
      <string name="ResponseActionOutput_attachments_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_attachments_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_attachments_def_items_def_created_date_def" />
      <object name="ResponseActionOutput_attachments_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_by" type="string" />
        <property name="created_date" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_attachments_def_items_def" name="ResponseActionOutput_attachments_def" />
      <object name="ResponseActionOutput">
        <property name="status" type="string" />
        <property name="hasTags" typeRef="ResponseActionOutput_hasTags_def" />
        <property name="parties" typeRef="ResponseActionOutput_parties_def" />
        <property name="shareTo" typeRef="ResponseActionOutput_shareTo_def" />
        <property name="attachments" typeRef="ResponseActionOutput_attachments_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="KeyClose" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="idRecord" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="DEV" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="TEST" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="UAT1" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="UAT2" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>