tvstest/pkgs/Wadl/TVS-%3eGetByIdInvestmentResearch-V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetByIdInvestmentResearch-V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetByIdInvestmentResearch-V1" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_report_name_def" />
      <string name="ResponseActionOutput_report_name_en_def" />
      <string name="ResponseActionOutput_report_type_def" />
      <string name="ResponseActionOutput_week_report_def" />
      <string name="ResponseActionOutput_frequency_def" />
      <string name="ResponseActionOutput_monthly_report_def" />
      <string name="ResponseActionOutput_quarterly_report_def" />
      <string name="ResponseActionOutput_annaul_report_def" />
      <string name="ResponseActionOutput_write_by_id_def" />
      <string name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_report_date_def" />
      <string name="ResponseActionOutput_allow_access_def" />
      <string name="ResponseActionOutput_note_def" />
      <string name="ResponseActionOutput_note_en_def" />
      <string name="ResponseActionOutput_created_by_def" />
      <string name="ResponseActionOutput_created_date_def" />
      <string name="ResponseActionOutput_write_by_def" />
      <string name="ResponseActionOutput_created_id_def" />
      <string name="ResponseActionOutput_write_date_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_id_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_file_name_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_created_date_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_created_by_def" />
      <string name="ResponseActionOutput_listAttach_def_items_def_type_def" />
      <object name="ResponseActionOutput_listAttach_def_items_def">
        <property name="id" type="string" />
        <property name="file_name" type="string" />
        <property name="created_date" type="string" />
        <property name="created_by" type="string" />
        <property name="type" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_listAttach_def_items_def" name="ResponseActionOutput_listAttach_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="report_name" type="string" />
        <property name="report_name_en" type="string" />
        <property name="report_type" type="string" />
        <property name="week_report" type="string" />
        <property name="frequency" type="string" />
        <property name="monthly_report" type="string" />
        <property name="quarterly_report" type="string" />
        <property name="annaul_report" type="string" />
        <property name="write_by_id" type="string" />
        <property name="status" type="string" />
        <property name="report_date" type="string" />
        <property name="allow_access" type="string" />
        <property name="note" type="string" />
        <property name="note_en" type="string" />
        <property name="created_by" type="string" />
        <property name="created_date" type="string" />
        <property name="write_by" type="string" />
        <property name="created_id" type="string" />
        <property name="write_date" type="string" />
        <property name="listAttach" typeRef="ResponseActionOutput_listAttach_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="idInvestmentResearch" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="keyClose" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="env1" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="env2" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="env3" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="env4" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>