tvstest/pkgs/Wadl/TVS-%3eGetByRoleEmployeeDeal.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetByRoleEmployeeDeal" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetByRoleEmployeeDeal" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="number" type="number" />
        <property name="number_1" type="number" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text" type="string" />
      </object>
      <integer name="ResponseActionOutput_items_def_STT_def" />
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_email_def" />
      <string name="ResponseActionOutput_items_def_phone_number_def" />
      <string name="ResponseActionOutput_items_def_internal_email_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <string name="ResponseActionOutput_items_def_division_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="STT" type="integer" />
        <property name="id" type="string" />
        <property name="name" type="string" />
        <property name="email" type="string" />
        <property name="phone_number" type="string" />
        <property name="internal_email" type="string" />
        <property name="status" type="string" />
        <property name="division" type="string" />
        <property name="title" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="PageSize" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="pageIndex" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="email" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="keyOpen" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="keyClose" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="roleName" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>