tvstest/pkgs/Wadl/TVS-%3eGetAllKeyChangeHistories.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetAllKeyChangeHistories" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetAllKeyChangeHistories" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <number name="ResponseActionOutput_items_def_no_def" />
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_process_code_def" />
      <string name="ResponseActionOutput_items_def_old_key_def" />
      <string name="ResponseActionOutput_items_def_current_key_def" />
      <integer name="ResponseActionOutput_items_def_is_disable_def" />
      <string name="ResponseActionOutput_items_def_created_date_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="no" type="number" />
        <property name="id" type="string" />
        <property name="process_code" type="string" />
        <property name="old_key" type="string" />
        <property name="current_key" type="string" />
        <property name="is_disable" type="integer" />
        <property name="created_date" type="string" />
        <property name="status" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>