tvstest/pkgs/Wadl/TVS-%3eGetCurrentUser-V1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="TVS-&gt;GetCurrentUser-V1" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="TVS-&gt;GetCurrentUser-V1" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <boolean name="ManualTriggerInput_boolean_def" />
      <boolean name="ManualTriggerInput_boolean_1_def" />
      <boolean name="ManualTriggerInput_boolean_2_def" />
      <boolean name="ManualTriggerInput_boolean_3_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="boolean" type="boolean" />
        <property name="boolean_1" type="boolean" />
        <property name="boolean_2" type="boolean" />
        <property name="boolean_3" type="boolean" />
      </object>
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_process_code_def" />
      <string name="ResponseActionOutput_items_def_name_def" />
      <string name="ResponseActionOutput_items_def_role_def" />
      <string name="ResponseActionOutput_items_def_email_def" />
      <string name="ResponseActionOutput_items_def_phone_number_def" />
      <string name="ResponseActionOutput_items_def_internal_email_def" />
      <string name="ResponseActionOutput_items_def_name_team_def" />
      <string name="ResponseActionOutput_items_def_status_def" />
      <string name="ResponseActionOutput_items_def_division_def" />
      <string name="ResponseActionOutput_items_def_division_id_def" />
      <string name="ResponseActionOutput_items_def_company_def" />
      <string name="ResponseActionOutput_items_def_action_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id" type="string" />
        <property name="process_code" type="string" />
        <property name="name" type="string" />
        <property name="role" type="string" />
        <property name="email" type="string" />
        <property name="phone_number" type="string" />
        <property name="internal_email" type="string" />
        <property name="name_team" type="string" />
        <property name="status" type="string" />
        <property name="division" type="string" />
        <property name="division_id" type="string" />
        <property name="company" type="string" />
        <property name="action" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="openKey" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="closeKey" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="internal_email" />
            </param>
            <param style="plain" name="boolean" path="/boolean" type="xs:boolean" required="true">
              <doc title="env1" />
            </param>
            <param style="plain" name="boolean_1" path="/boolean_1" type="xs:boolean" required="true">
              <doc title="env2" />
            </param>
            <param style="plain" name="boolean_2" path="/boolean_2" type="xs:boolean" required="true">
              <doc title="env3" />
            </param>
            <param style="plain" name="boolean_3" path="/boolean_3" type="xs:boolean" required="true">
              <doc title="env4" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>